.top-bar-title{
  color: #FF8500;
  display:inline;
  padding-right: 0.0rem;}

.top-bar {
  background: #232528; }
  .top-bar ul {
    background: #232528; }
    .top-bar ul li {
      background: #232528; }
      .top-bar ul li a {
        display: inline;
        color: #CBC0AD; }

.menu-text {
  color: #CBC0AD; }
  @media only screen and (max-width: 40em) {
    .menu-text {
      display: none !important; } }

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 1px solid #4e4e4e; }

  .menu:first-child {
    border-left: none; }

  .menu li:not(:last-child) {
    border-right: 1px solid #4e4e4e; } }
.dropdown.menu .submenu {
  border: none; }

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
  border-color: #fff transparent transparent; }

.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent; }

.top-bar-section .has-dropdown > a:after {
    border-color: #FF0000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

/* Change the color of the Home icon */
a.menu-icon span {
  -webkit-box-shadow: 0 10px 0 1px #CBC0AD, 0 16px 0 1px #CBC0AD, 0 22px 0 1px #CBC0AD;
  box-shadow: 0px 10px 0px 1px #CBC0AD, 0px 16px 0px 1px #CBC0AD, 0px 22px 0px 1px #CBC0AD;
}

/* Change the color of the menu arrow */
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: rgb(97, 108, 136) transparent transparent; }
