<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreetSavvy</title>
    <script src="static/js/vendor/jquery.js"></script>
    {% block first %}{% endblock %}
    <link rel="stylesheet" href="static/css/foundation.min.css">
    <link rel="stylesheet" href="static/css/app.css">
    <script src="static/js/vendor/foundation.min.js"></script>
    <script src="static/js/vendor/spin.min.js"></script>
    {% block header %}{% endblock %}
  </head>
  <body>

  <div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon light" type="button" data-toggle></button>
    </span>
    <strong>StreetSavvy</strong>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#">Visualizations</a>
          <ul class="menu vertical">
            <li><a href="/fire_table">Fire Calls Table</a></li>
            <li><a href="/fire_map">Fire Calls Map</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="top-bar-right"></div>
  </div>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="{{ category }}" data-closable>
          <h5>{{ message }}</h5>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="js-alerts"></div>
  <div class="center"><div id="spinnerContainer" class="spinner"></div></div>

  {% block content %}{% endblock %}
  
  </body>
  <script src="static/js/app.js"></script>
  </script>

</html>
