{% extends "base.html" %}
{% block first %}
    <link rel="stylesheet" href="static/css/jquery.dataTables.min.css">
    <script src="static/js/vendor/jquery.dataTables.min.js"></script>
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <br>
    <form action="">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="medium-6 columns">
                <label><h5>Start Date:</h5> {{ form.start }}</label>
            </div>
            <div class="medium-6 columns">
                <label><h5>End Date:</h5> {{ form.end }} </label>
            </div>
            <div class="medium-12 columns text-center">
                <div class="button" id="submit">Submit</div>
            </div>
        </div>
    </form>
    <div class="row">
    <table id="fire_table">
    <thead>
        <tr>
            <th>Address</th>
            <th>Call Final Disposition</th>
            <th>Call Type</th>
            <th>Received Time</th>
            <th>Neighborhood</th>
            <th>Unity Type</th>
            <th>Number of Alarms</th>
        </tr>
     </thead>
     </table>
     </div>
    <script src = "static/js/fire_table.js" type="text/javascript"></script>
{% endblock %}
