{% extends "base.html" %}
{% block header %}
  <link rel="stylesheet" href="static/css/ol.css">
  <style>
    .map {
      height: 90%;
      width: 100%;
      }
  </style>
  <script src="static/js/vendor/ol.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
  <form action="">
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="medium-6 columns">
        <label><h5>Start Date:</h5> {{ form.start }}</label>
      </div>
      <div class="medium-6 columns">
        <label><h5>End Date:</h5> {{ form.end }} </label>
      </div>
      <div class="medium-12 columns text-center">
        <div class="button" id="submit">Submit</div>
      </div>
    </div>
  </form>
  <div id="map" class="map"></div>
  <script src = "static/js/fire_map.js" type="text/javascript"></script>
  
{% endblock %}
