{% extends "base.html" %}
{% block header %}
  <link rel="stylesheet" href="static/css/ol.css">
  <style>
    .map {
      height: 90%;
      width: 100%;
      }
  </style>
  <script src="static/js/vendor/ol.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
  <div id="map" class="map"></div>
  <script src = "static/js/index.js" type="text/javascript"></script>
  
{% endblock %}
